@inherits LayoutComponentBase

<div class="page">

    <main>
        @*<div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        <div>
            <LoginDisplay />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>
